.board {
    display: flex;
    gap: 20px;
    padding: 20px;
    overflow-x: auto;
    /* -ms-overflow-style: none;  IE and Edge */
    scrollbar-width: none;
  }


  @media (max-width: 600px) {
    .board {
      flex-direction: column;
      align-items: center;
      gap: 8px;
      padding: 8px;
      overflow-x: none;
    }
  }